In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

%matplotlib inline

from patsy import dmatrices
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn import metrics
from sklearn.model_selection import cross_validate

import pickle

In [2]:
# read in data
df = pd.read_csv('weatheravailability.csv')

df.head(5)

,Unnamed: 0,number,last_update,available_bike_stands,available_bikes,total_bike_stands,description
0,0,2,1551726000,15,5,20,Rain
1,1,3,1551726000,19,1,20,Rain
2,2,4,1551726000,20,0,20,Rain
3,3,5,1551726000,11,29,40,Rain
4,4,6,1551726000,16,4,20,Rain

In [3]:
# want to remove the 'Unnamed: 0' column.
# to make it easier, strip the space and conver to lower case...
df.columns = df.columns.str.strip().str.lower().str.replace(' ', '_').str.replace('(', '').str.replace(')', '')

df.head(5)

,unnamed:_0,number,last_update,available_bike_stands,available_bikes,total_bike_stands,description
0,0,2,1551726000,15,5,20,Rain
1,1,3,1551726000,19,1,20,Rain
2,2,4,1551726000,20,0,20,Rain
3,3,5,1551726000,11,29,40,Rain
4,4,6,1551726000,16,4,20,Rain

In [4]:
# it's now easier to reference, and dropped
df = df.drop('unnamed:_0', axis=1)

In [5]:
# rename the weather description column for clarity
df.rename(columns={"description": "weather_desc"}, inplace=True)

In [6]:
df.head(5)

,number,last_update,available_bike_stands,available_bikes,total_bike_stands,weather_desc
0,2,1551726000,15,5,20,Rain
1,3,1551726000,19,1,20,Rain
2,4,1551726000,20,0,20,Rain
3,5,1551726000,11,29,40,Rain
4,6,1551726000,16,4,20,Rain

In [7]:
df.dtypes

number                    int64
last_update               int64
available_bike_stands     int64
available_bikes           int64
total_bike_stands         int64
weather_desc             object
dtype: object

In [8]:
continuous_features = ['available_bikes', 'available_bike_stands', 'last_update', 'total_bike_stands']

In [9]:
# the target feature is the feature that we want to investigate.
target_feature = ['available_bikes']

In [10]:
df['weather_desc'].value_counts()

Clouds     58312
Rain       23672
Drizzle     3380
Clear       3277
Mist        1921
Name: weather_desc, dtype: int64

## UNDERSTANDING THE DATA

In [11]:
# there seems to be no correlation...

df[['weather_desc', 'available_bikes', 'available_bike_stands']].corr()

                       available_bikes  available_bike_stands
available_bikes               1.000000              -0.765681
available_bike_stands        -0.765681               1.000000

## MODEL

In [12]:
# Use more features for training
# Train a model using the weather description.
# As we are dealing with a categorical feature, we need a way to be able to make comparisons. We cannot do this with strings/objects, so instead we create dummy columns with true/false values
weather_desc_dummies = pd.get_dummies(df['weather_desc'], prefix='weather_desc_')
print("weather_desc_dummies:", weather_desc_dummies)

categorical_features = weather_desc_dummies.columns.values.tolist()

features = continuous_features + categorical_features
print("\nCont features: ", continuous_features)
print("Categ features: ", categorical_features)
print("Features: ", features)

weather_desc_dummies:        weather_desc__Clear  weather_desc__Clouds  weather_desc__Drizzle  \
0                        0                     0                      0
1                        0                     0                      0
2                        0                     0                      0
3                        0                     0                      0
4                        0                     0                      0
5                        0                     0                      0
6                        0                     0                      0
7                        0                     0                      0
8                        0                     0                      0
9                        0                     0                      0
10                       0                     0                      0
11                       0                     0                      0
12                       0                     0                      0
13                       0                     0                      0
14                       0                     0                      0
15                       0                     0                      0
16                       0                     0                      0
17                       0                     0                      0
18                       0                     0                      0
19                       0                     0                      0
20                       0                     0                      0
21                       0                     0                      0
22                       0                     0                      0
23                       0                     0                      0
24                       0                     0                      0
25                       0                     0                      0
26                       0                     0                      0
27                       0                     0                      0
28                       0                     0                      0
29                       0                     0                      0
...                    ...                   ...                    ...
90532                    0                     1                      0
90533                    0                     1                      0
90534                    0                     1                      0
90535                    0                     1                      0
90536                    0                     1                      0
90537                    0                     1                      0
90538                    0                     1                      0
90539                    0                     1                      0
90540                    0                     1                      0
90541                    0                     1                      0
90542                    0                     1                      0
90543                    0                     1                      0
90544                    0                     1                      0
90545                    0                     1                      0
90546                    0                     1                      0
90547                    0                     1                      0
90548                    0                     1                      0
90549                    0                     1                      0
90550                    0                     1                      0
90551                    0                     1                      0
90552                    0                     1                      0
90553                    0                     1                      0
90554                    0                     1                      0
90555                    0                     1                      0
90556                    0                     1                      0
90557                    0                     1                      0
90558                    0                     1                      0
90559                    0                     1                      0
90560                    0                     1                      0
90561                    0                     1                      0

       weather_desc__Mist  weather_desc__Rain
0                       0                   1
1                       0                   1
2                       0                   1
3                       0                   1
4                       0                   1
5                       0                   1
6                       0                   1
7                       0                   1
8                       0                   1
9                       0                   1
10                      0                   1
11                      0                   1
12                      0                   1
13                      0                   1
14                      0                   1
15                      0                   1
16                      0                   1
17                      0                   1
18                      0                   1
19                      0                   1
20                      0                   1
21                      0                   1
22                      0                   1
23                      0                   1
24                      0                   1
25                      0                   1
26                      0                   1
27                      0                   1
28                      0                   1
29                      0                   1
...                   ...                 ...
90532                   0                   0
90533                   0                   0
90534                   0                   0
90535                   0                   0
90536                   0                   0
90537                   0                   0
90538                   0                   0
90539                   0                   0
90540                   0                   0
90541                   0                   0
90542                   0                   0
90543                   0                   0
90544                   0                   0
90545                   0                   0
90546                   0                   0
90547                   0                   0
90548                   0                   0
90549                   0                   0
90550                   0                   0
90551                   0                   0
90552                   0                   0
90553                   0                   0
90554                   0                   0
90555                   0                   0
90556                   0                   0
90557                   0                   0
90558                   0                   0
90559                   0                   0
90560                   0                   0
90561                   0                   0

[90562 rows x 5 columns]

Cont features:  ['available_bikes', 'available_bike_stands', 'last_update', 'total_bike_stands']
Categ features:  ['weather_desc__Clear', 'weather_desc__Clouds', 'weather_desc__Drizzle', 'weather_desc__Mist', 'weather_desc__Rain']
Features:  ['available_bikes', 'available_bike_stands', 'last_update', 'total_bike_stands', 'weather_desc__Clear', 'weather_desc__Clouds', 'weather_desc__Drizzle', 'weather_desc__Mist', 'weather_desc__Rain']

In [13]:
# create a new dataframe with the new dummy columns..
df_all = pd.concat([df, weather_desc_dummies], axis=1)
# print(df_all)

# drop the original column in this new dataframe as it isn't needed
df_all = df_all.drop('weather_desc', axis = 1)
# print(df_all)

In [14]:
# df = pd.get_dummies(df, drop_first=True)
df = pd.get_dummies(df)
# df

,number,last_update,available_bike_stands,available_bikes,total_bike_stands,weather_desc_Clear,weather_desc_Clouds,weather_desc_Drizzle,weather_desc_Mist,weather_desc_Rain
0,2,1551726000,15,5,20,0,0,0,0,1
1,3,1551726000,19,1,20,0,0,0,0,1
2,4,1551726000,20,0,20,0,0,0,0,1
3,5,1551726000,11,29,40,0,0,0,0,1
4,6,1551726000,16,4,20,0,0,0,0,1
5,7,1551726000,9,19,28,0,0,0,0,1
6,8,1551726000,15,15,30,0,0,0,0,1
7,9,1551726000,5,19,24,0,0,0,0,1
8,10,1551726000,7,9,16,0,0,0,0,1
9,11,1551726000,30,0,30,0,0,0,0,1
10,12,1551726000,16,4,20,0,0,0,0,1
11,13,1551726000,29,1,30,0,0,0,0,1
12,14,1551726000,5,25,30,0,0,0,0,1
13,15,1551726000,16,0,16,0,0,0,0,1
14,16,1551726000,4,16,20,0,0,0,0,1
15,17,1551726000,18,2,20,0,0,0,0,1
16,18,1551726000,24,6,30,0,0,0,0,1
17,19,1551726000,30,0,30,0,0,0,0,1
18,21,1551726000,4,26,30,0,0,0,0,1
19,22,1551726000,1,19,20,0,0,0,0,1
20,23,1551726000,2,28,30,0,0,0,0,1
21,24,1551726000,14,6,20,0,0,0,0,1
22,25,1551726000,28,2,30,0,0,0,0,1
23,26,1551726000,3,17,20,0,0,0,0,1
24,27,1551726000,18,2,20,0,0,0,0,1
25,28,1551726000,26,4,30,0,0,0,0,1
26,29,1551726000,23,6,29,0,0,0,0,1
27,30,1551726000,18,2,20,0,0,0,0,1
28,31,1551726000,14,6,20,0,0,0,0,1
29,32,1551726000,7,23,30,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...
90532,86,1555138800,3,35,38,0,1,0,0,0
90533,87,1555138800,12,26,38,0,1,0,0,0
90534,88,1555138800,4,26,30,0,1,0,0,0
90535,89,1555138800,38,1,39,0,1,0,0,0
90536,90,1555138800,35,5,40,0,1,0,0,0
90537,91,1555138800,10,20,30,0,1,0,0,0
90538,92,1555138800,0,40,40,0,1,0,0,0
90539,93,1555138800,0,40,40,0,1,0,0,0
90540,94,1555138800,11,29,40,0,1,0,0,0
90541,95,1555138800,7,33,40,0,1,0,0,0
90542,96,1555138800,15,15,30,0,1,0,0,0
90543,97,1555138800,13,27,40,0,1,0,0,0
90544,98,1555138800,40,0,40,0,1,0,0,0
90545,99,1555138800,28,2,30,0,1,0,0,0
90546,100,1555138800,0,25,25,0,1,0,0,0
90547,101,1555138800,22,8,30,0,1,0,0,0
90548,102,1555138800,12,28,40,0,1,0,0,0
90549,103,1555138800,39,1,40,0,1,0,0,0
90550,104,1555138800,26,14,40,0,1,0,0,0
90551,105,1555138800,25,11,36,0,1,0,0,0
90552,106,1555138800,15,25,40,0,1,0,0,0
90553,107,1555138800,30,10,40,0,1,0,0,0
90554,108,1555138800,39,1,40,0,1,0,0,0
90555,109,1555138800,9,20,29,0,1,0,0,0
90556,110,1555138800,30,10,40,0,1,0,0,0
90557,111,1555138800,26,14,40,0,1,0,0,0
90558,112,1555138800,6,24,30,0,1,0,0,0
90559,113,1555138800,40,0,40,0,1,0,0,0
90560,114,1555138800,38,2,40,0,1,0,0,0
90561,115,1555138800,2,28,30,0,1,0,0,0

In [15]:
# prepare the descriptive features
X = df_all[features]
y = df_all.available_bikes

In [16]:
# now train the model with linear regression
multiple_linreg = LinearRegression().fit(X, y)

print("\nIntercept: \n", multiple_linreg.intercept_)
print("Features and coeficients:", list(zip(features, multiple_linreg.coef_)))

Intercept:
 8.624923708566712e-08
Features and coeficients: [('available_bikes', 0.666666666666646), ('available_bike_stands', -0.33333333333342324), ('last_update', -5.551115123125783e-17), ('total_bike_stands', 0.3333333333332543), ('weather_desc__Clear', 1.5137483030872435e-15), ('weather_desc__Clouds', -7.992825236440232e-17), ('weather_desc__Drizzle', 2.3530227130948252e-15), ('weather_desc__Mist', -3.4406628434207246e-15), ('weather_desc__Rain', -3.4376742167065133e-16)]

In [17]:
# now test using the trained model
multiple_linreg_predictions = multiple_linreg.predict(X[features])

print("\nPredictions with multiple linear regression: \n")
actual_vs_predicted_multiplelinreg = pd.concat([df, pd.DataFrame(multiple_linreg_predictions, columns=['Predicted'])], axis=1)
print(actual_vs_predicted_multiplelinreg)

Predictions with multiple linear regression:

       number  last_update  available_bike_stands  available_bikes  \
0           2   1551726000                     15                5
1           3   1551726000                     19                1
2           4   1551726000                     20                0
3           5   1551726000                     11               29
4           6   1551726000                     16                4
5           7   1551726000                      9               19
6           8   1551726000                     15               15
7           9   1551726000                      5               19
8          10   1551726000                      7                9
9          11   1551726000                     30                0
10         12   1551726000                     16                4
11         13   1551726000                     29                1
12         14   1551726000                      5               25
13         15   1551726000                     16                0
14         16   1551726000                      4               16
15         17   1551726000                     18                2
16         18   1551726000                     24                6
17         19   1551726000                     30                0
18         21   1551726000                      4               26
19         22   1551726000                      1               19
20         23   1551726000                      2               28
21         24   1551726000                     14                6
22         25   1551726000                     28                2
23         26   1551726000                      3               17
24         27   1551726000                     18                2
25         28   1551726000                     26                4
26         29   1551726000                     23                6
27         30   1551726000                     18                2
28         31   1551726000                     14                6
29         32   1551726000                      7               23
...       ...          ...                    ...              ...
90532      86   1555138800                      3               35
90533      87   1555138800                     12               26
90534      88   1555138800                      4               26
90535      89   1555138800                     38                1
90536      90   1555138800                     35                5
90537      91   1555138800                     10               20
90538      92   1555138800                      0               40
90539      93   1555138800                      0               40
90540      94   1555138800                     11               29
90541      95   1555138800                      7               33
90542      96   1555138800                     15               15
90543      97   1555138800                     13               27
90544      98   1555138800                     40                0
90545      99   1555138800                     28                2
90546     100   1555138800                      0               25
90547     101   1555138800                     22                8
90548     102   1555138800                     12               28
90549     103   1555138800                     39                1
90550     104   1555138800                     26               14
90551     105   1555138800                     25               11
90552     106   1555138800                     15               25
90553     107   1555138800                     30               10
90554     108   1555138800                     39                1
90555     109   1555138800                      9               20
90556     110   1555138800                     30               10
90557     111   1555138800                     26               14
90558     112   1555138800                      6               24
90559     113   1555138800                     40                0
90560     114   1555138800                     38                2
90561     115   1555138800                      2               28

       total_bike_stands  weather_desc_Clear  weather_desc_Clouds  \
0                     20                   0                    0
1                     20                   0                    0
2                     20                   0                    0
3                     40                   0                    0
4                     20                   0                    0
5                     28                   0                    0
6                     30                   0                    0
7                     24                   0                    0
8                     16                   0                    0
9                     30                   0                    0
10                    20                   0                    0
11                    30                   0                    0
12                    30                   0                    0
13                    16                   0                    0
14                    20                   0                    0
15                    20                   0                    0
16                    30                   0                    0
17                    30                   0                    0
18                    30                   0                    0
19                    20                   0                    0
20                    30                   0                    0
21                    20                   0                    0
22                    30                   0                    0
23                    20                   0                    0
24                    20                   0                    0
25                    30                   0                    0
26                    29                   0                    0
27                    20                   0                    0
28                    20                   0                    0
29                    30                   0                    0
...                  ...                 ...                  ...
90532                 38                   0                    1
90533                 38                   0                    1
90534                 30                   0                    1
90535                 39                   0                    1
90536                 40                   0                    1
90537                 30                   0                    1
90538                 40                   0                    1
90539                 40                   0                    1
90540                 40                   0                    1
90541                 40                   0                    1
90542                 30                   0                    1
90543                 40                   0                    1
90544                 40                   0                    1
90545                 30                   0                    1
90546                 25                   0                    1
90547                 30                   0                    1
90548                 40                   0                    1
90549                 40                   0                    1
90550                 40                   0                    1
90551                 36                   0                    1
90552                 40                   0                    1
90553                 40                   0                    1
90554                 40                   0                    1
90555                 29                   0                    1
90556                 40                   0                    1
90557                 40                   0                    1
90558                 30                   0                    1
90559                 40                   0                    1
90560                 40                   0                    1
90561                 30                   0                    1

       weather_desc_Drizzle  weather_desc_Mist  weather_desc_Rain  \
0                         0                  0                  1
1                         0                  0                  1
2                         0                  0                  1
3                         0                  0                  1
4                         0                  0                  1
5                         0                  0                  1
6                         0                  0                  1
7                         0                  0                  1
8                         0                  0                  1
9                         0                  0                  1
10                        0                  0                  1
11                        0                  0                  1
12                        0                  0                  1
13                        0                  0                  1
14                        0                  0                  1
15                        0                  0                  1
16                        0                  0                  1
17                        0                  0                  1
18                        0                  0                  1
19                        0                  0                  1
20                        0                  0                  1
21                        0                  0                  1
22                        0                  0                  1
23                        0                  0                  1
24                        0                  0                  1
25                        0                  0                  1
26                        0                  0                  1
27                        0                  0                  1
28                        0                  0                  1
29                        0                  0                  1
...                     ...                ...                ...
90532                     0                  0                  0
90533                     0                  0                  0
90534                     0                  0                  0
90535                     0                  0                  0
90536                     0                  0                  0
90537                     0                  0                  0
90538                     0                  0                  0
90539                     0                  0                  0
90540                     0                  0                  0
90541                     0                  0                  0
90542                     0                  0                  0
90543                     0                  0                  0
90544                     0                  0                  0
90545                     0                  0                  0
90546                     0                  0                  0
90547                     0                  0                  0
90548                     0                  0                  0
90549                     0                  0                  0
90550                     0                  0                  0
90551                     0                  0                  0
90552                     0                  0                  0
90553                     0                  0                  0
90554                     0                  0                  0
90555                     0                  0                  0
90556                     0                  0                  0
90557                     0                  0                  0
90558                     0                  0                  0
90559                     0                  0                  0
90560                     0                  0                  0
90561                     0                  0                  0

          Predicted
0      5.000000e+00
1      1.000000e+00
2      1.077623e-10
3      2.900000e+01
4      4.000000e+00
5      1.900000e+01
6      1.500000e+01
7      1.900000e+01
8      9.000000e+00
9      1.060730e-10
10     4.000000e+00
11     1.000000e+00
12     2.500000e+01
13     1.084374e-10
14     1.600000e+01
15     2.000000e+00
16     6.000000e+00
17     1.060730e-10
18     2.600000e+01
19     1.900000e+01
20     2.800000e+01
21     6.000000e+00
22     2.000000e+00
23     1.700000e+01
24     2.000000e+00
25     4.000000e+00
26     6.000000e+00
27     2.000000e+00
28     6.000000e+00
29     2.300000e+01
...             ...
90532  3.500000e+01
90533  2.600000e+01
90534  2.600000e+01
90535  1.000000e+00
90536  5.000000e+00
90537  2.000000e+01
90538  4.000000e+01
90539  4.000000e+01
90540  2.900000e+01
90541  3.300000e+01
90542  1.500000e+01
90543  2.700000e+01
90544 -8.506270e-11
90545  2.000000e+00
90546  2.500000e+01
90547  8.000000e+00
90548  2.800000e+01
90549  1.000000e+00
90550  1.400000e+01
90551  1.100000e+01
90552  2.500000e+01
90553  1.000000e+01
90554  1.000000e+00
90555  2.000000e+01
90556  1.000000e+01
90557  1.400000e+01
90558  2.400000e+01
90559 -8.506270e-11
90560  2.000000e+00
90561  2.800000e+01

[90562 rows x 11 columns]

In [18]:
#This function is used repeatedly to compute all metrics
def printMetrics(testActualVal, predictions):
    #classification evaluation measures
    print('\n==============================================================================')
    print("MAE: ", metrics.mean_absolute_error(testActualVal, predictions))
    #print("MSE: ", metrics.mean_squared_error(testActualVal, predictions))
    print("RMSE: ", metrics.mean_squared_error(testActualVal, predictions)**0.5)
    print("R2: ", metrics.r2_score(testActualVal, predictions))

In [19]:
printMetrics(y, multiple_linreg_predictions)

==============================================================================
MAE:  4.199655013674659e-11
RMSE:  4.915303657284433e-11
R2:  1.0

## Evaluation with train/test split

In [20]:
# Split the data into train and test sets
# Take a third (random) data samples as test data, rest as training data
# X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=0)
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3)

print("Training data:\n", pd.concat([X_train, y_train], axis=1))
print("\nTest data:\n", pd.concat([X_test, y_test], axis=1))

Training data:
        available_bikes  available_bike_stands  last_update  total_bike_stands  \
80666                8                     32   1554811200                 40
21896                5                     35   1552899600                 40
23937               14                     16   1552968000                 30
20477               36                      4   1552852800                 40
16297                0                     20   1552719600                 20
29165                0                     36   1553133600                 36
38596               30                      0   1553443200                 30
15266               12                      8   1552687200                 20
21859               22                     17   1552899600                 39
47001                0                     35   1553720400                 35
28352               20                      3   1553108400                 23
76448                1                     19   1554678000                 20
31784               25                     15   1553216400                 40
62175                5                     25   1554210000                 30
6644                 2                     38   1552410000                 40
1039                10                     20   1551790800                 30
34853                5                     35   1553320800                 40
68963                5                     35   1554433200                 40
11310               20                      0   1552561200                 20
32769               15                     18   1553256000                 33
64063                0                     36   1554271200                 36
39306                5                     15   1553464800                 20
47722                0                     40   1553742000                 40
8322                 5                     35   1552464000                 40
58958                1                     29   1554109200                 30
4525                 0                     30   1552345200                 30
2467                 1                     39   1551888000                 40
45036               15                     14   1553659200                 29
66766                6                     14   1554364800                 20
22575                2                     18   1552924800                 20
...                ...                    ...          ...                ...
5229                 3                     37   1552366800                 40
70430                2                     38   1554480000                 40
14194                0                     35   1552651200                 35
34225                1                     19   1553302800                 20
22942               20                     10   1552935600                 30
42246               29                      1   1553562000                 30
82103                0                     30   1554865200                 30
61835                0                     38   1554199200                 38
20300                0                     30   1552849200                 30
12557                3                     17   1552600800                 20
53678               17                     23   1553936400                 40
70605               15                     15   1554487200                 30
25215                4                     26   1553007600                 30
67333               38                      1   1554382800                 39
83950                4                     36   1554926400                 40
67215               11                     19   1554379200                 30
42984                7                     33   1553583600                 40
18164               12                     13   1552777200                 25
69550               20                     10   1554454800                 30
84155                2                     28   1554933600                 30
48199                5                     19   1553760000                 24
75316                8                     22   1554642000                 30
42899                0                     20   1553583600                 20
87002                4                     16   1555027200                 20
5899                 2                     17   1552388400                 19
63292               35                      5   1554246000                 40
45136               27                     13   1553659200                 40
57080                8                     32   1554048000                 40
66322                0                     33   1554350400                 33
78283               29                      4   1554735600                 33

       weather_desc__Clear  weather_desc__Clouds  weather_desc__Drizzle  \
80666                    0                     1                      0
21896                    0                     1                      0
23937                    0                     1                      0
20477                    0                     1                      0
16297                    0                     0                      0
29165                    0                     1                      0
38596                    0                     0                      0
15266                    0                     0                      0
21859                    0                     1                      0
47001                    0                     1                      0
28352                    0                     1                      0
76448                    0                     1                      0
31784                    0                     1                      0
62175                    0                     0                      0
6644                     0                     0                      0
1039                     0                     1                      0
34853                    0                     1                      0
68963                    0                     1                      0
11310                    0                     1                      0
32769                    0                     0                      0
64063                    0                     1                      0
39306                    0                     1                      0
47722                    0                     1                      0
8322                     0                     0                      0
58958                    0                     1                      0
4525                     0                     0                      0
2467                     0                     0                      0
45036                    0                     1                      0
66766                    0                     1                      0
22575                    0                     0                      1
...                    ...                   ...                    ...
5229                     0                     0                      0
70430                    0                     1                      0
14194                    0                     1                      0
34225                    0                     1                      0
22942                    0                     1                      0
42246                    0                     1                      0
82103                    0                     1                      0
61835                    0                     1                      0
20300                    0                     0                      0
12557                    0                     0                      0
53678                    0                     1                      0
70605                    0                     0                      0
25215                    0                     1                      0
67333                    0                     1                      0
83950                    0                     1                      0
67215                    0                     0                      0
42984                    0                     1                      0
18164                    0                     1                      0
69550                    0                     0                      0
84155                    0                     1                      0
48199                    1                     0                      0
75316                    0                     1                      0
42899                    0                     1                      0
87002                    0                     1                      0
5899                     0                     0                      0
63292                    0                     1                      0
45136                    0                     1                      0
57080                    0                     1                      0
66322                    0                     1                      0
78283                    0                     0                      1

       weather_desc__Mist  weather_desc__Rain  available_bikes
80666                   0                   0                8
21896                   0                   0                5
23937                   0                   0               14
20477                   0                   0               36
16297                   0                   1                0
29165                   0                   0                0
38596                   0                   1               30
15266                   0                   1               12
21859                   0                   0               22
47001                   0                   0                0
28352                   0                   0               20
76448                   0                   0                1
31784                   0                   0               25
62175                   0                   1                5
6644                    0                   1                2
1039                    0                   0               10
34853                   0                   0                5
68963                   0                   0                5
11310                   0                   0               20
32769                   0                   1               15
64063                   0                   0                0
39306                   0                   0                5
47722                   0                   0                0
8322                    0                   1                5
58958                   0                   0                1
4525                    0                   1                0
2467                    0                   1                1
45036                   0                   0               15
66766                   0                   0                6
22575                   0                   0                2
...                   ...                 ...              ...
5229                    0                   1                3
70430                   0                   0                2
14194                   0                   0                0
34225                   0                   0                1
22942                   0                   0               20
42246                   0                   0               29
82103                   0                   0                0
61835                   0                   0                0
20300                   0                   1                0
12557                   0                   1                3
53678                   0                   0               17
70605                   0                   1               15
25215                   0                   0                4
67333                   0                   0               38
83950                   0                   0                4
67215                   0                   1               11
42984                   0                   0                7
18164                   0                   0               12
69550                   0                   1               20
84155                   0                   0                2
48199                   0                   0                5
75316                   0                   0                8
42899                   0                   0                0
87002                   0                   0                4
5899                    0                   1                2
63292                   0                   0               35
45136                   0                   0               27
57080                   0                   0                8
66322                   0                   0                0
78283                   0                   0               29

[63393 rows x 10 columns]

Test data:
        available_bikes  available_bike_stands  last_update  total_bike_stands  \
14171               40                      0   1552651200                 40
62435               20                     10   1554220800                 30
26658               21                      9   1553054400                 30
31391                4                     25   1553205600                 29
86856                3                     17   1555023600                 20
12548               11                     18   1552600800                 29
58999                1                     37   1554109200                 38
1702                12                      8   1551812400                 20
36910                3                     27   1553389200                 30
35132               25                      5   1553331600                 30
10710                0                     40   1552539600                 40
47355               16                     12   1553731200                 28
19554               23                      7   1552824000                 30
14843               13                     27   1552672800                 40
84697                0                     30   1554951600                 30
31882                0                     40   1553220000                 40
31524                4                     36   1553209200                 40
19492                9                     22   1552820400                 31
48158               18                      4   1553756400                 22
24319               22                     18   1552978800                 40
71443               25                     15   1554512400                 40
45445               20                      7   1553670000                 27
8221                 9                     21   1552460400                 30
60967                2                     22   1554174000                 24
84415                0                     40   1554940800                 40
27802               29                     11   1553090400                 40
23719                1                     19   1552960800                 20
34961                0                     30   1553324400                 30
82730                0                     40   1554886800                 40
83432                2                     34   1554908400                 36
...                ...                    ...          ...                ...
35539                0                     30   1553342400                 30
10156               28                      2   1552521600                 30
77766                0                     40   1554717600                 40
50132                1                     19   1553821200                 20
23753                0                     25   1552960800                 25
58222                4                     36   1554084000                 40
84252                0                     30   1554937200                 30
70732               10                     20   1554490800                 30
88428                2                     14   1555074000                 16
60120                9                     31   1554145200                 40
5386                25                      5   1552370400                 30
26438                0                     21   1553047200                 21
8225                 2                     34   1552460400                 36
20324               16                      4   1552849200                 20
57674                4                     36   1554066000                 40
41758               12                      8   1553547600                 20
67677               19                     21   1554393600                 40
25345                2                     27   1553011200                 29
27923                5                     35   1553094000                 40
27174                1                     39   1553068800                 40
65433               11                     29   1554321600                 40
3260                 0                     30   1551949200                 30
55725               10                     17   1554004800                 27
74860                9                     21   1554627600                 30
8007                 8                     32   1552453200                 40
9882                18                     22   1552514400                 40
11256                8                     27   1552557600                 35
23536               37                      3   1552953600                 40
44386               10                     30   1553634000                 40
168                 30                      0   1551729600                 30

       weather_desc__Clear  weather_desc__Clouds  weather_desc__Drizzle  \
14171                    0                     1                      0
62435                    0                     1                      0
26658                    0                     1                      0
31391                    0                     1                      0
86856                    0                     1                      0
12548                    0                     0                      0
58999                    0                     1                      0
1702                     0                     1                      0
36910                    0                     1                      0
35132                    1                     0                      0
10710                    0                     0                      0
47355                    0                     1                      0
19554                    0                     0                      0
14843                    0                     0                      0
84697                    0                     1                      0
31882                    0                     1                      0
31524                    0                     1                      0
19492                    0                     0                      0
48158                    0                     1                      0
24319                    0                     0                      1
71443                    0                     0                      0
45445                    0                     1                      0
8221                     0                     1                      0
60967                    0                     1                      0
84415                    0                     1                      0

In [21]:
# Train on the training sample, and test on the test sample.
linreg = LinearRegression().fit(X_train, y_train)

# Print the weights learned for each feature.
# print(linreg_train.coef_)
print("Features and coeficients:", list(zip(features, linreg.coef_)))

Features and coeficients: [('available_bikes', 0.6666666666667179), ('available_bike_stands', -0.33333333333316967), ('last_update', 0.0), ('total_bike_stands', 0.33333333333339266), ('weather_desc__Clear', -9.227351272517243e-16), ('weather_desc__Clouds', 2.3957743519145464e-15), ('weather_desc__Drizzle', 2.6343630918687854e-15), ('weather_desc__Mist', -4.434955759079662e-15), ('weather_desc__Rain', 3.1673293579093185e-16)]

In [22]:
# Predicted bike availability on training set
train_predictions = linreg.predict(X_train)
print("Actual values of training:\n", y_train)
print("Predictions on training:", train_predictions)
printMetrics(y_train, train_predictions)

Actual values of training:
 80666     8
21896     5
23937    14
20477    36
16297     0
29165     0
38596    30
15266    12
21859    22
47001     0
28352    20
76448     1
31784    25
62175     5
6644      2
1039     10
34853     5
68963     5
11310    20
32769    15
64063     0
39306     5
47722     0
8322      5
58958     1
4525      0
2467      1
45036    15
66766     6
22575     2
         ..
5229      3
70430     2
14194     0
34225     1
22942    20
42246    29
82103     0
61835     0
20300     0
12557     3
53678    17
70605    15
25215     4
67333    38
83950     4
67215    11
42984     7
18164    12
69550    20
84155     2
48199     5
75316     8
42899     0
87002     4
5899      2
63292    35
45136    27
57080     8
66322     0
78283    29
Name: available_bikes, Length: 63393, dtype: int64
Predictions on training: [8.00000000e+00 5.00000000e+00 1.40000000e+01 ... 8.00000000e+00
 1.49808823e-12 2.90000000e+01]

==============================================================================
MAE:  1.595949375437292e-12
RMSE:  1.878180377449027e-12
R2:  1.0

In [23]:
# Predicted bike availability on test set
test_predictions = linreg.predict(X_test)
print("Actual values of test:\n", y_test)
print("Predictions on test:", test_predictions)
printMetrics(y_test, test_predictions)

Actual values of test:
 14171    40
62435    20
26658    21
31391     4
86856     3
12548    11
58999     1
1702     12
36910     3
35132    25
10710     0
47355    16
19554    23
14843    13
84697     0
31882     0
31524     4
19492     9
48158    18
24319    22
71443    25
45445    20
8221      9
60967     2
84415     0
27802    29
23719     1
34961     0
82730     0
83432     2
         ..
35539     0
10156    28
77766     0
50132     1
23753     0
58222     4
84252     0
70732    10
88428     2
60120     9
5386     25
26438     0
8225      2
20324    16
57674     4
41758    12
67677    19
25345     2
27923     5
27174     1
65433    11
3260      0
55725    10
74860     9
8007      8
9882     18
11256     8
23536    37
44386    10
168      30
Name: available_bikes, Length: 27169, dtype: int64
Predictions on test: [40. 20. 21. ... 37. 10. 30.]

==============================================================================
MAE:  1.6031566331677818e-12
RMSE:  1.884673247774802e-12
R2:  1.0

In [24]:
model = LinearRegression()
model.fit(X_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
         normalize=False)

In [25]:
with open('model.pkl', 'wb') as handle:
    pickle.dump(model, handle, pickle.HIGHEST_PROTOCOL)